* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("/images/minimalist.jpg");
  background-size: cover;
  color: #212121;
  line-height: 1.5;
}

p {
  margin-bottom: 50px;
}

a {
  text-decoration: none;
  color: rgb(3, 36, 36);
}

.switcherBody {
  background-image: none;
  background-color: #7dd7ee;
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

ul {
  list-style-type: none;
}

.funcList {
  display: inline-block;
  margin: 2px;
  padding: 9px 10px;
  font-size: 18px;
  color: teal;
  border-radius: 9px;
  background-color: transparent;
  transition: color 250ms linear, background-color 250ms linear;
  text-decoration: none;
  margin: 6px;
  box-shadow: 3px 3px 3px rgb(162, 195, 195);
  font-weight: 500;
}

.funcList:hover,
.funcList:focus {
  color: rgb(255, 255, 255);
  background-color: rgb(76, 119, 119);
}


img {
  display: block;
  max-width: 100%;
}

button {
  background-color: rgb(196, 216, 216);
  border-radius: 20px;
  padding: 15px 20px;
  border-color: rgba(226, 220, 220, 0.456);
  border-width: 1px;
  text-align: center;
  transition: all 0.3s ease 0s;
  margin: 0 10px;
  box-shadow: 3px 3px 3px rgb(41, 40, 40);
  color: teal;
  font-weight: 700;
  font-size: larger;
}

button:hover {
  background-color: rgb(87, 162, 162);
  color: aliceblue;
}

button:focus {
  opacity: .5;
}

.back:hover {
  font-weight: 700;
  color: rgb(1, 100, 100);
}

.timer-wrap {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-direction: row;
}

.picker {
  margin-bottom: 100px;
  height: 50px;
  text-align: center;
  font-size: large;
  border-radius: 8px;
  margin-left: 10px;
  cursor: pointer;
  border: 1px solid #648f9a;
  background-color: white;
  outline: none;
  font-weight: 700;
}

.picker:disabled {
  border: 2px solid #21ebff;
  background-color: rgb(241, 245, 245);
  outline: none;
}

.timer {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-direction: row;
}

.field {
  background-color: #f7f9f7;
  border: rgba(13, 140, 140, 0.581) 2px solid;
  display: flex;
  flex-direction: column;
  border-radius: 50%;
  align-items: center;
  margin-right: 20px;
  padding-top: 15px;
  font-size: x-large;
  text-transform: uppercase;
  font-weight: 700;
  width: 140px;
  height: 140px;
}

.value {
  color: #a09e95;
  font-weight: 700;
  font-size: 50px;
}

.value.end {
  color: rgba(5, 204, 184, 0.789);
}

.label {
  color: black;
  font-weight: 700;
  font-size: 15px;
}

.btn-start {
  border-radius: 8px;
  margin: 0 20px;
  width: 140px;
  height: 50px;
  background-color: #1bf5e398;
  color: black;
  text-transform: uppercase;
  border: 2px solid #a0a3a1;
  box-shadow: 3px 3px 1px 1px rgba(76, 86, 106, 0.2);
  cursor: pointer;
  font-size: large;
  font-weight: 700;
}

.btn-start:disabled {
  margin: 0 20px;
  background-color: #f2ee0770;
  border: 2px solid #52d4ff;
  color: black;
  box-shadow: none;
}

.btn-reload {
  width: 180px;
  height: 50px;
  background-color: #1bf5e398;
  border: 2px solid #a0a3a1;
  border-radius: 8px;
  cursor: pointer;
  font-size: large;
  font-weight: 700;
  color: black;
}

.timer-input {
  padding: 8px 8px;
}